In [18]:
# Importing all the necessary libraries

from mysql.connector import MySQLConnection, Error
from mydbutils import make_connection, do_query_return_all

In [19]:
# creating the mysql connection

conn = make_connection(config_file = 'config-cars_analysis.ini')
conn

In [20]:
# creating cursor to perform sql operations

cursor = conn.cursor()
cursor

In [ ]:
# Deleting the tables if already exists, so that we recrete them using sql commands

cursor.execute('DROP TABLE IF EXISTS dm_customer')
cursor.execute('DROP TABLE IF EXISTS dm_car')
cursor.execute('DROP TABLE IF EXISTS dm_dealer')
cursor.execute('DROP TABLE IF EXISTS dm_region')
cursor.execute('DROP TABLE IF EXISTS dm_calender')
cursor.execute('DROP TABLE IF EXISTS fact_purchase')
cursor.execute('DROP TABLE IF EXISTS fact_customer')

print("existing tables dropped")

creating the car dimension table

In [5]:
sql_car = ( "CREATE TABLE dm_car \n"
      + '(\n'
      + '    car_key    INT NOT NULL AUTO_INCREMENT,       \n'
      + '    car_id     int,                   \n'
      + '    car_name   varchar(10) NOT NULL,  \n'
      + '    car_make   varchar(10) NOT NULL,  \n'
      + '    car_type   varchar(45) NOT NULL,  \n'
      + '    PRIMARY KEY(car_key)'
      + ')'
      )

print(sql_car)

CREATE TABLE dm_car
(
    car_key    INT NOT NULL AUTO_INCREMENT,
    car_id     int,
    car_name   varchar(10) NOT NULL,
    car_make   varchar(10) NOT NULL,
    car_type   varchar(45) NOT NULL,
    PRIMARY KEY(car_key))

creating the customer dimension table which has all the details of customer

In [6]:
sql_dealer = ( "CREATE TABLE dm_dealer \n"
      + '(\n'
      + '    dealer_key    INT NOT NULL AUTO_INCREMENT,   \n'
      + '    dealer_id     int,                  \n'
      + '    dealer_name   varchar(4) NOT NULL,  \n'
      + '    age           int(2),               \n'
      + '    gender        varchar(2),           \n'
      + '    PRIMARY KEY(dealer_key)'
      + ')'
      )

print(sql_dealer)

CREATE TABLE dm_dealer
(
    dealer_key    INT NOT NULL AUTO_INCREMENT,
    dealer_id     int,
    dealer_name   varchar(4) NOT NULL,
    age           int(2),
    gender        varchar(2),
    PRIMARY KEY(dealer_key))

In [7]:
sql_customer = ( "CREATE TABLE dm_customer \n"
      + '(\n'
      + '    customer_key    INT NOT NULL AUTO_INCREMENT,   \n'
      + '    customer_id     int,                  \n'
      + '    customer_name   varchar(4) NOT NULL,  \n'
      + '    age           int(2),                 \n'
      + '    gender        varchar(2),             \n' 
      + '    PRIMARY KEY(customer_key)'
      + ')'
      )

print(sql_customer)

CREATE TABLE dm_customer
(
    customer_key    INT NOT NULL AUTO_INCREMENT,
    customer_id     int,
    customer_name   varchar(4) NOT NULL,
    age           int(2),
    gender        varchar(2),
    PRIMARY KEY(customer_key))

creating the region table which contains the details of the car sale region

In [8]:
sql_region = ( "CREATE TABLE dm_region \n"
      + '(\n'
      + '    reg_key   INT NOT NULL AUTO_INCREMENT,  \n'
      + '    reg_id    int,                   \n'
      + '    city      varchar(10) NOT NULL,  \n'
      + '    PRIMARY KEY(reg_key)'
      + ')'
      )

print(sql_region)

CREATE TABLE dm_region
(
    reg_key   INT NOT NULL AUTO_INCREMENT,
    reg_id    int,
    city      varchar(10) NOT NULL,
    PRIMARY KEY(reg_key))

creating the calender table which contains the details of the sale date

In [9]:
sql_calender = ( "CREATE TABLE dm_calender \n"
      + '(\n'
      + '    cal_key   INT NOT NULL AUTO_INCREMENT,   \n'
      + '    month     varchar(45),       \n'
      + '    year      int(4),             \n'
      + '    PRIMARY KEY (cal_key)'
      + ')'
      )

print(sql_calender)

CREATE TABLE dm_calender
(
    cal_key   INT NOT NULL AUTO_INCREMENT,
    month     varchar(45),
    year      int(4),
    PRIMARY KEY (cal_key))

# fact-table: car_purchase

In [10]:
sql_purchase=("CREATE TABLE fact_purchase"
        +'(\n'
        
        +' fact_purchase_key INT NOT NULL AUTO_INCREMENT,   \n'
        +' dealer_key    int,               \n'
        +' car_key       int,               \n'
        +' reg_key       int,               \n'
        +' cal_key       int,               \n'
        +' sale_units    int,               \n'
        +' PRIMARY KEY (fact_purchase_key)'
        +')'
        )

print(sql_purchase)

CREATE TABLE fact_purchase(
 fact_purchase_key INT NOT NULL AUTO_INCREMENT,
 dealer_key    int,
 car_key       int,
 reg_key       int,
 cal_key       int,
 sale_units    int,
 PRIMARY KEY (fact_purchase_key))

### fact table: customer fact table

In [11]:
sql_fact_cust=("CREATE TABLE fact_customer"
        +'(\n'
               
        +' fact_customer_key INT NOT NULL AUTO_INCREMENT, '
        +' customer_key  int,               \n'
        +' dealer_key    int,               \n'
        +' car_key       int,               \n'
        +' reg_key       int,               \n'
        +' cal_key       int,               \n'
        +' sale_price    int,               \n'
        +' PRIMARY KEY (fact_customer_key)'
        +')'
        )

print(sql_fact_cust)

CREATE TABLE fact_customer(
 fact_customer_key INT NOT NULL AUTO_INCREMENT,  customer_key  int,
 dealer_key    int,
 car_key       int,
 reg_key       int,
 cal_key       int,
 sale_price    int,
 PRIMARY KEY (fact_customer_key))

In [12]:
# executing all the sql commands

cursor = conn.cursor()
cursor.execute(sql_car)

In [13]:
cursor.execute(sql_customer)

In [14]:
cursor.execute(sql_region)

In [15]:
cursor.execute(sql_calender)

In [16]:
cursor.execute(sql_purchase)

In [17]:
#closing the cursor connection

conn.close()
print('Done!')

Done!