In [1]:
from mydbutils import make_connection, do_query_return_all
import csv

In [2]:
import pandas as pd

In [3]:
conn = make_connection(config_file = 'config-cars.ini')
conn

In [4]:
cursor = conn.cursor()

In [35]:
sql_1 = ( "INSERT INTO customer \n"
        + "VALUES (%s, %s, %s, %s, %s)"
        )

sql_2 = ( "INSERT INTO car_make \n"
        + "VALUES (%s, %s)"
        )

sql_3 = ( "INSERT INTO car_type \n"
        + "VALUES (%s, %s)"
        )

sql_4 = ( "INSERT INTO car \n"
        + "VALUES (%s, %s, %s, %s, %s)"
        )

sql_5 = ( "INSERT INTO region \n"
        + "VALUES (%s, %s)"
        )

sql_7 = ( "INSERT INTO dealer \n"
        + "VALUES (%s, %s, %s, %s, %s)"
        )

sql_6 = ( "INSERT INTO car_sale (dealer_id, customer_id, car_id, reg_id, sale_units, year, month) \n"
        + "VALUES (%s, %s, %s, %s, %s, %s, %s)"
        )

In [6]:
first = True

with open('customer.csv', newline='') as csv_file:
    data = csv.reader(csv_file, delimiter=',', quotechar='"')
    
    for row in data:
        if not first:
            cursor.execute(sql_1, row)
            
        first = False
    
conn.commit()

In [7]:
first = True

with open('car_make.csv', newline='') as csv_file:
    data = csv.reader(csv_file, delimiter=',', quotechar='"')
    
    for row in data:
        if not first:
            cursor.execute(sql_2, row)
            
        first = False
    
conn.commit()

In [8]:
first = True

with open('car_type.csv', newline='') as csv_file:
    data = csv.reader(csv_file, delimiter=',', quotechar='"')
    
    for row in data:
        if not first:
            cursor.execute(sql_3, row)
            
        first = False
    
conn.commit()

In [9]:
first = True

with open('car.csv', newline='') as csv_file:
    data = csv.reader(csv_file, delimiter=',', quotechar='"')
    
    for row in data:
        if not first:
            cursor.execute(sql_4, row)
            
        first = False
    
conn.commit()

In [10]:
first = True

with open('region.csv', newline='') as csv_file:
    data = csv.reader(csv_file, delimiter=',', quotechar='"')
    
    for row in data:
        if not first:
            cursor.execute(sql_5, row)
            
        first = False
    
conn.commit()

In [11]:
first = True

with open('dealer.csv', newline='') as csv_file:
    data = csv.reader(csv_file, delimiter=',', quotechar='"')
    
    for row in data:
        if not first:
            cursor.execute(sql_7, row)
            
        first = False
    
conn.commit()

In [37]:
first = True

with open('car_sale.csv', newline='') as csv_file:
    data = csv.reader(csv_file, delimiter=',', quotechar='"')
    
    for row in data:
        if not first:
            cursor.execute(sql_6, row)
            
        first = False
    
conn.commit()

In [38]:
def transform(row):
    deal = pd.read_csv('dealer.csv')
    for i,ft in enumerate(deal['dealer_name']):
        if row[1]==ft:
            row[1]=dealer['dealer_id'][i]
            
    cust = pd.read_csv('customer.csv')
    for i,ft in enumerate(cust['name']):
        if row[2]==ft:
            row[2]=customer['customer_id'][i]
            
            
    trans = pd.read_csv('car.csv')
    for i,ft in enumerate(trans['car_name']):
        if row[3]==ft:
            row[3]=make['car_id'][i]
            
    location = pd.read_csv('region.csv')
    for i,ft in enumerate(location['city']):
        if row[4]==ft:
            row[4]=cty['reg_id'][i]

In [ ]:
cursor.close()
conn.close()