In [1]:
# Importing all the necessary libraries

from mysql.connector import MySQLConnection, Error
from mydbutils import make_connection, do_query_return_all

In [2]:
# creating the mysql connection

conn = make_connection(config_file = 'config-cars.ini')
conn

In [3]:
# creating cursor to perform sql operations

cursor = conn.cursor()
cursor

In [4]:
# Deleting the tables if already exists, so that we recrete them using sql commands


# cursor.execute('DROP TABLE IF EXISTS dealer')
# cursor.execute('DROP TABLE IF EXISTS car_make')
# cursor.execute('DROP TABLE IF EXISTS car_type')
# cursor.execute('DROP TABLE IF EXISTS car')
# cursor.execute('DROP TABLE IF EXISTS region')
# cursor.execute('DROP TABLE IF EXISTS customer')
cursor.execute('DROP TABLE IF EXISTS car_sale')

print("existing tables dropped")

existing tables dropped

In [5]:
#creating the tables using sql commands

In [6]:
sql_customer = ( "CREATE TABLE customer        \n"
      + '(\n'
      + '    customer_id   int PRIMARY KEY,    \n'
      + '    name        varchar(50) NOT NULL, \n'
      + '    age         int,                  \n'
      + '    gender      varchar(10),          \n'
      + '    email       varchar(150)          \n'        
      + ')'
      )

print(sql_customer)

CREATE TABLE customer
(
    customer_id   int PRIMARY KEY,
    name        varchar(50) NOT NULL,
    age         int,
    gender      varchar(10),
    email       varchar(150)
)

In [7]:
sql_dealer = ( "CREATE TABLE dealer            \n"
      + '(\n'
      + '    dealer_id   int PRIMARY KEY,      \n'
      + '    name        varchar(50) NOT NULL, \n'
      + '    age         int,                  \n'
      + '    gender      varchar(10),          \n'
      + '    email       varchar(150)           \n'        
      + ')'
      )

print(sql_dealer)

CREATE TABLE dealer
(
    dealer_id   int PRIMARY KEY,
    name        varchar(50) NOT NULL,
    age         int,
    gender      varchar(10),
    email       varchar(150)
)

In [8]:
sql_make = ( "CREATE TABLE car_make         \n"
      + '(\n'
      + '    make_id   int PRIMARY KEY,     \n'
      + '    make      varchar(25) NOT NULL \n'
      + ')'
      )

print(sql_make)

CREATE TABLE car_make
(
    make_id   int PRIMARY KEY,
    make      varchar(25) NOT NULL
)

In [9]:
sql_type = ( "CREATE TABLE car_type           \n"
      + '(\n'
      + '    type_id    int PRIMARY KEY,      \n'
      + '    type_name   varchar(25) NOT NULL \n'
      + ')'
      )

print(sql_type)

CREATE TABLE car_type
(
    type_id    int PRIMARY KEY,
    type_name   varchar(25) NOT NULL
)

In [10]:
sql_car = ( "CREATE TABLE car           \n"
      + '(\n'
      + 'car_id        int PRIMARY KEY, \n'
      + 'make_id       int NOT NULL,    \n'
      + 'type_id       int NOT NULL,    \n'
      + 'car_name      varchar(50),     \n'
      + 'price         float,           \n'
      + 'FOREIGN KEY   (make_id) REFERENCES car_make (make_id), \n'
      + 'FOREIGN KEY   (type_id) REFERENCES car_type (type_id)  \n'
      + ')'
      )

print(sql_car)

CREATE TABLE car
(
car_id        int PRIMARY KEY,
make_id       int NOT NULL,
type_id       int NOT NULL,
car_name      varchar(50),
price         float,
FOREIGN KEY   (make_id) REFERENCES car_make (make_id),
FOREIGN KEY   (type_id) REFERENCES car_type (type_id)
)

In [11]:
sql_region = ( "CREATE TABLE region        \n"
      + '(\n'
      + '    reg_id   int PRIMARY KEY,     \n'
      + '    city     varchar(45) NOT NULL \n'
      + ')'
      )

print(sql_region)

CREATE TABLE region
(
    reg_id   int PRIMARY KEY,
    city     varchar(45) NOT NULL
)

In [12]:
sql_sale = ( "CREATE TABLE car_sale \n"
      + '(\n'
      + 'sale_id      int NOT NULL AUTO_INCREMENT PRIMARY KEY, \n'
      + 'dealer_id    int NOT NULL,   \n'
      + 'customer_id  int NOT NULL,   \n'            
      + 'car_id       int NOT NULL,   \n'
      + 'reg_id       int NOT NULL,   \n'
      + 'sale_units   int,  \n'
      + 'year         int,  \n'      
      + 'month        varchar(20),  \n'      
      + 'FOREIGN KEY  (dealer_id) REFERENCES dealer (dealer_id),      \n'
      + 'FOREIGN KEY  (customer_id) REFERENCES customer (customer_id),\n'
      + 'FOREIGN KEY  (car_id) REFERENCES car (car_id),  \n'
      + 'FOREIGN KEY  (reg_id) REFERENCES region (reg_id)\n'
     
      + ')'
      )

print(sql_sale)

CREATE TABLE car_sale
(
sale_id      int NOT NULL AUTO_INCREMENT PRIMARY KEY,
dealer_id    int NOT NULL,
customer_id  int NOT NULL,
car_id       int NOT NULL,
reg_id       int NOT NULL,
sale_units   int,
year         int,
month        varchar(20),
FOREIGN KEY  (dealer_id) REFERENCES dealer (dealer_id),
FOREIGN KEY  (customer_id) REFERENCES customer (customer_id),
FOREIGN KEY  (car_id) REFERENCES car (car_id),
FOREIGN KEY  (reg_id) REFERENCES region (reg_id)
)

In [13]:
cursor.execute(sql_dealer)

In [14]:
cursor.execute(sql_make)

In [15]:
cursor.execute(sql_type)

In [16]:
cursor.execute(sql_car)

In [17]:
cursor.execute(sql_customer)

In [18]:
cursor.execute(sql_region)

In [19]:
cursor.execute(sql_sale)

In [20]:
#closing the cursor connection

conn.close()
print('Done!')

Done!